$columns: 12; /* 12 Column Layout */

.container {
	width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    
    &.container-fluid {
        max-width: none;
    }
	
	.row {
		
		&:before, &:after {
            content: ' ';
            display: table;
        }
        
        &:after {
            clear: both;
        }
		
		.col {
            width: (100% / $columns);
            min-height: 1px;
            float: left;
            padding: 0 20px;
			
			@for $i from 1 through $columns {
				
				&.col-md-#{$i} {
					width: (100% / $columns * $i);
				}
				
			}
						
		}
		
	}
	
}

@media only screen and (max-width: $smallScreenWidth) {
    
    .container {
     
        .row {
            
            .col {

				@for $i from 1 through $columns {

					&.col-sm-#{$i} {
						width: (100% / $columns * $i);
					}

				}

            }
            
        }
        
    }
    
}

@media only screen and (max-width: $extraSmallScreenWidth) {
    
    .container {
     
        .row {
            
            .col {

				@for $i from 1 through $columns {

					&.col-xs-#{$i} {
						width: (100% / $columns * $i);
					}

				}

            }
            
        }
        
    }
    
}

@supports (display: flex) {
	
    .container {
     
        .row {
            display: flex;
            flex-wrap: wrap;
            
            &:before, &:after {
                display: none;
            }
            
            .col {
                float: none;
            }
            
        }
        
    }
    
}
